*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
}

.zebraStripe{
    background-color: black;
    color: white;
}
